* {
    box-sizing: border-box;
  }

body {
    height: 100vh;
    margin: 0;
    font-family: 'Spartan', sans-serif;
    /* background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.9318102240896359) 35%, rgba(0,212,255,1) 100%); */
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,0.9122023809523809) 35%, rgba(75,86,88,1) 100%);
}
  

header {
    height: 20vh;
}

.header > h6 {
    font-size: 70px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: rgb(99, 123, 128); */
    color: rgb(55,168,199);
}


  
.grid-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.grid {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    height: 600px;
    width: 600px;
}

.grid div {
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 100%;
}
/* .grid div>div {
    background-color: rgba(245, 245, 245, 0.904);
    border-radius: 50%;
} */

.freeDisk {
    background-color: rgba(245, 245, 245, 0.904);
    border-radius: 50%;
    /* border-radius: 50%;
    width: 100%;
    height: 100%; */
}

.firstPlayerDisk {
    background-color: black;
    border-radius: 50%;
    /* border-radius: 50%;
    width: 100%;
    height: 100%; */
}

.secondPlayerDisk {
    background-color: red;
    border-radius: 50%;
    /* border-radius: 50%;
    width: 100%;
    height: 100%; */
}
  /* .grid div.player-1 {
    background-image: url('../assets/pika-sprite.png');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
  } */
